<!DOCTYPE HTML>
<!--
DeepLearning.scala by ThoughtWorks
Released for free under the Apache 2.0 license (https://github.com/ThoughtWorksInc/DeepLearning.scala/blob/1.0.x/LICENSE)
-->
<html>
<head>
	<title>DeepLearning.scala by ThoughtWorks</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="DeepLearning.Scala" />
	<meta name="keywords" content="DeepLearning,Scala" />
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.10/require.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
	<script src="{{ site.github.url }}/assets/js/skel.min.js"> </script>
	<script src="{{ site.github.url }}/assets/js/skel-panels.min.js"></script>
	<script src="{{ site.github.url }}/assets/js/init.js"> </script>
	<script>
		init_init("{{ site.github.url }}/assets/css/style");
	</script>
	<noscript>
		<link rel="stylesheet" href="{{ site.github.url }}/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style.css" />
		<link rel="stylesheet" href="{{ site.github.url }}/assets/css/style-desktop.css" />
	</noscript>
	<style>
		{% if page.background != none %}
		#header, #tweet{
			background-image: url("{{ site.github.url }}/assets/images/{{page.background}}");
		}

		{% endif %}
	</style>
</head>



<body {% if page.type == "homepage" %} class='homepage' {% endif %}>
	<!-- Header -->
	<div id="header">
		{% include nav.html %}
		<div class="container">

			<!-- Logo -->
			<div id="logo">
				<h1><a><img width="65%" alt="DeepLearning.scala" src="{{ site.github.url }}/assets/images/logo-text-white-opacity.png"/></a></h1>
				<span class="tag">By ThoughtWorks</span>
			</div>
		</div>
	</div>
	<!-- Header -->
	{{ content }}

	<!-- Tweet -->
	<div id="tweet">
		<div class="container">
			<section>
				<blockquote>
					DeepLearning.scala is an open source deep-learning toolkit in Scala created by our colleagues at ThoughtWorks.
					We're excited about this project because it uses differentiable functional programming to create and compose neural networks; a developer simply writes code in Scala with static typing.
				</blockquote>
			</section>
		</div>
	</div>


<!-- Footer -->
<div id="footer">
	<div class="container">
		<section>
			<header>
				<h2>Get in touch</h2>
				<!-- <span class="byline">Integer sit amet pede vel arcu aliquet pretium</span> -->
			</header>
			<ul class="contact">
				<li><a href="https://github.com/ThoughtWorksInc/DeepLearning.scala" title="Github" class="fa fa-github"><span>Github</span></a></li>
				<li><a href="https://gitter.im/ThoughtWorksInc/DeepLearning.scala" title="Gitter" style="width: 20px">
					<svg
						version="1.1" 
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						viewBox="0 0 14 20"
					>
						<rect x="12" y="4"width="2" height="8"/>
						<rect x="8" y="4" width="2" height="16"/>
						<rect x="4" y="4"width="2" height="16"/>
						<rect width="2" height="12"/>
					</svg>
					<span>Gitter</span>
				</a></li>
				<li><a href="mailto:tw-data-china@thoughtworks.com" title="Email" class="fa fa-envelope-o"><span>Email</span></a></li>
			</ul>
		</section>
	</div>
</div>

<!-- Copyright -->
<div id="copyright">
	<div class="container">
		© 2017 ThoughtWorks, Inc.
	</div>
</div>

</body>
</html>
