---
layout: default
---




<div id="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <nav class="toc" role="navigation">
                    {% include docnav.html nav=site.data.demo%}
                </nav>
            </div>
            <div id="content" class="8u skel-cell-important">
                <section>

                    <div class="col-md-9 normal-head">
                        {{ content }}
                        <div class="spacing"></div>
                    </div>
                    <div class="col-md-9">
                        <a href="{{site.github.url}}/{{page.download_path}}/{{page.filename}}" download="{{page.filename}}">Download ipynb file for this page.</a>
                    </div>
                </section>
            </div>

        </div>
    </div>
</div>
